version: '3.7'
services:
  dragonite:
    image: ghcr.io/unownhash/dragonite-public:latest
    container_name: dragonite
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./config.toml
        target: /dragonite/config.toml
      # optional volumes if you want to have access to logs
      # comment if not needed
      - type: volume
        source: ${PWD}/logs
        target: /dragonite/logs
    ports:
      - "7272:7272"
  admin:
    image: ghcr.io/unownhash/dragonite-public-admin:latest
    container_name: admin
    restart: unless-stopped
    environment:
      - ADMIN.GENERAL.HOST=0.0.0.0
      - ADMIN.GENERAL.PORT=7273
      - ADMIN.GENERAL.USERNAME=admin
      - ADMIN.GENERAL.PASSWORD=password
      - ADMIN.GENERAL.LOG_LEVEL=info
      - ADMIN.GENERAL.API_SECRET=''

      - ADMIN.BACKENDS.0.DRAGONITE_ENDPOINT=http://dragonite:7272
      - ADMIN.BACKENDS.0.GOLBAT_ENDPOINT=http://golbat:9001
#      - ADMIN.BACKENDS.0.GOLBAT_API_SECRET=

#      - ADMIN.BACKENDS.1.DRAGONITE_ENDPOINT=http://dragonite:7274
#      - ADMIN.BACKENDS.1.GOLBAT_ENDPOINT=http://golbat:9002
#      - ADMIN.BACKENDS.1.GOLBAT_API_SECRET=
    ports:
      - '7273:7273'

